<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contacto</title>

        <!--Importar bootstrap-->
        <link rel="stylesheet" href="../resource/bootstrap-5.0.0/css/bootstrap.min.css">
        <script src="../resource/bootstrap-5.0.0/js/bootstrap.min.js"></script>
        <script src="js/validacionCampos.js"></script>
        <!--Hoja de estilos propia-->
        <link rel="stylesheet" href="../resource/style/styles.css">

    </head>
    <body class="bg-fondo">
        <!--Barra navegadora-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand titulo" href="index.html">AYUDA A UN PELUDO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mascotas
                            </a>
                            <ul class="dropdown-menu navbar-dark bg-nav2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../views/cats/gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="../views/dogs/perros.html">Perros</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <!--Cuerpo de la página-->
        <section class="container fondo-container">
            <!--Cabecera titulo principal de la vista-->
            <h1 class="h1"> CONTÁCTANOS </h1>
            <!--Contenedor-->
            <div class="contenedor">
            
              <div class="row">
                  <div class="col-1 col-md-1"></div>
                  <div class="col-10 col-md-10">
                      <form class="needs-validation">
                          <!--Nombre -->
                          <div class="form-group">
                                  <label for="nombre" class="form-label"> Nombre Completo </label>
                                  <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre completo">
                                  <div class="valid-feedback">
                                      correct!
                                    </div>
                          </div>
                          <br>
                          <!--Email -->
                          <div class="form-group">
                                  <label for="correo" class="form-label"> Correo Electrónico </label>
                                  <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo electrónico">
                                  <span class="error" id="errorEmail"></span><br><br>
                                  <div class="valid-feedback">
                                      correct!
                                    </div>
                          </div>
                          <br>
                          <!--TELEFONO-->
                          <div class="form-group">
                                  <label for="telefono" class="form-label">Telefono</label>
                                  <input type="text" class="form-control" id="asunto" placeholder="Ingrese el asunto del mensaje">
                                  <div class="invalid-feedback">
                                      ingrese numero!.
                                    </div>
                          </div>
                          <br>
                          <!--Ciudad-->
                          <div class="col-md-5">
                              <label for="validationCustom04" class="form-label">Ciudad</label>
                              <select class="form-select" id="validationCustom04" required>
                              <option selected disabled value="">ciudad</option>
                              <option value="1">santiago</option>
                              <option value="2">melipilla</option>
                              <option value="3">concepcion</option>
                              <option value="4">viña del mar</option>
                              <option value="5">la serena</option>
                              <option value="6">talca</option>
                              <option>...</option>
                              </select>
                              <div class="invalid-feedback">
                              Please select a valid state.
                              </div>
                          </div>
                           <!--rut o pasaporte-->
                          <div class="form-check">
                              <input type="radio" class="form-check-input" id="validationFormCheck2" name="rut" required>
                              <label class="form-check-label" for="validationFormCheck2">Rut</label>
                          </div>
                          <div class="form-check mb-3">
                              <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required>
                              <label class="form-check-label" for="validationFormCheck3">pasaporte</label>
                              <div class="invalid-feedback">More example invalid feedback text</div>
                          </div>
                          <div>
                              <input type="text" class="form-control" id="rut o pasaporte" placeholder="Ingrese N°de rut o pasaporte">
                                  
                          </div>

                          <!--Comentario-->
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                          <span class="error" id="errorcomentario"></span><br><br>
                          <div class="valid-feedback"></div>
                          
                    
                          <!--Botones-->
                          <div class="row">
                            <div class="col-1 col-lg-3"></div>
                            <div class="col-5 col-lg-3">
                                <button type="submit" class="btn enviar">ENVIAR</button> 
                            </div>
                            <div class="col-5 col-lg-3">
                                <button type="reset" class="btn limpiar">LIMPIAR</button>
                            </div>
                            <div class="col-5 col-lg-3">
                              <button type="button" class="btn cancelar">CANCELAR</button>
                          </div>
                  
                    </div>
                  
                  </form>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>
        </footer>
    </body>
</html>