<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contacto</title>

        <!--Importar bootstrap-->
        <link rel="stylesheet" href="../resource/bootstrap-5.0.0/css/bootstrap.min.css">
        <script src="../resource/bootstrap-5.0.0/js/bootstrap.min.js"></script>
        
        <!--Hoja de estilos propia-->
        <link rel="stylesheet" href="../resource/style/styles.css">

    </head>
    <body class="bg-fondo">
        <!--Barra navegadora-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand titulo" href="index.html">AYUDA A UN PELUDO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mascotas
                            </a>
                            <ul class="dropdown-menu navbar-dark bg-nav2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../views/cats/gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="../views/dogs/perros.html">Perros</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <!--Cuerpo de la página-->
        <section class="container fondo-container">
            <!--Cabecera titulo principal de la vista-->
            <h1 class="h1"> CONTÁCTANOS </h1>
            <!--Contenedor-->
            <div class="contenedor">
                <div class="row">
                    <div class="col-1 col-md-1"></div>
                    <div class="col-10 col-md-10">
                        <form id="formulario" name="formulario" action="http://www.colex.cl/duoc/cargaData.php" method="POST">
                            <input type="hidden" id="url" name="url"value="http://www.google.cl">
                            <!--Nombre -->
                            <div class="form-group">
                                <label for="nombre" class="form-label"> Nombre Completo: </label>
                                <label class="obligatorio">*</label> <br>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre completo" onblur="validaCampo('nombre')">
                                <span class="error" id="error_nombre"></span>
                            </div>
                            <br>
                            <!--Email -->
                            <div class="form-group">
                                <label for="correo" class="form-label"> Correo Electrónico: </label>
                                <label class="obligatorio">*</label> <br>
                                <input type="email" class="form-control" id="email" name="correo" placeholder="Ingrese su correo electrónico" onblur="validaCampo('email')">
                                <span class="error" id="error_email"></span>
                            </div>
                            <br>
                            
                            <!--rut o pasaporte-->
                            <div>
                                <label for="documento">Seleccione tipo de documento:</label>
                                <label class="obligatorio">*</label> <br>
                                <div class="row">
                                    <div class="col-12 col-lg-3">
                                        <div class="form-check form-check-inline mt-2">
                                            <input class="form-check-input" type="radio" name="tipo_documento" id="rut" checked onchange="conocerCheckeado('rut')" value="rut">
                                            <label class="form-check-label" for="rut">
                                                Rut
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tipo_documento" id="pasaporte" onchange="conocerCheckeado('pasaporte')" value="pasaporte">
                                            <label class="form-check-label" for="pasaporte">
                                                Pasaporte
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-9 mt-1">
                                        <input type="text" class="form-control" id="documento" name="documento" placeholder="Ingrese el número de documento seleccionado" onblur="validaCampo('documento');">
                                        <span class="error" id="error_documento"></span>
                                        <span class="error" id="error_rut"></span>
                                    </div>
                                </div> 
                            </div>
                            <br>
                            <!--Teléfono-->
                            <div class="form-group">
                                <label for="telefono" class="form-label">Teléfono:</label>
                                <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su número telefónico">
                                <span class="error" id="error_telefono"></span>
                            </div>
                            <br>
                            <!--Ciudad-->
                            <div class="col-md-5">
                                <label for="ciudad" class="form-label">Ciudad:</label>
                                <label class="obligatorio">*</label> <br>
                                <select class="form-select select" id="ciudad" name="ciudad" onblur="validaCampo('ciudad')">
                                    <option selected value="">--Seleccione una ciudad--</option>
                                    <option value="Santiago">Santiago</option>
                                    <option value="Melipilla">Melipilla</option>
                                    <option value="Concepcion">Concepcion</option>
                                    <option value="Viña del mar">Viña del mar</option>
                                    <option value="La serena">La serena</option>
                                    <option value="Talca">Talca</option>
                                    <option value="Otra ciudad">Otra ciudad</option>
                                </select>
                                <span class="error" id="error_ciudad"></span>
                            </div>
                            <br>

                            <!--Comentario-->
                            <div class="form-group">
                                <label for="comentario" class="form-label">Comentario:</label> 
                                <label class="obligatorio">*</label>
                                <textarea class="form-control textarea" id="comentario" name="comentario" rows="3" placeholder="Escriba aquí el mensaje" onblur="validaCampo('comentario'); validarLargo('comentario');"></textarea>
                                <span class="error" id="error_comentario"></span>
                                <span class="error" id="error_largo_comentario"></span>
                            </div>
                            
                            <!--Botones-->
                            <div class="row mt-4">
                                <div class="col-1 col-lg-2"></div>
                                <div class="col-5 col-lg-4">
                                    <button type="reset" class="btn cancelar">
                                        LIMPIAR
                                    </button>
                                </div>
                                <div class="col-5 col-lg-4">
                                    <button type="submit" class="btn enviar" onclick="enviarDatos(event)">ENVIAR</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>


            <!--Importar validaciones js-->
        <script src="../resource/js/validacionCampos.js"></script>
        </footer>
    </body>
</html>