<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>

        <!--Importar bootstrap-->
        <link rel="stylesheet" href="../resource/bootstrap-5.0.0/css/bootstrap.min.css">
        <script src="../resource/bootstrap-5.0.0/js/bootstrap.min.js"></script>

        <!--Hoja de estilos propia-->
        <link rel="stylesheet" href="../resource/style/styles.css">

        <!--Importar jQuery-->
        <script src="../resource/jQuery-3.6.0/jQuery-3.6.0.js"></script>

        <!--Importar hoja de js propia-->
        <script src="../resource/js/geolocalizacion_clima.js"></script>

    </head>
    <body class="bg-fondo">
        <!--Barra navegadora-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
                <div class="container-fluid">
                    <a class="navbar-brand titulo" href="index.html">AYUDA A UN PELUDO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mascotas
                                </a>
                                <ul class="dropdown-menu navbar-dark bg-nav2" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../views/cats/gatos.html">Gatos</a></li>
                                    <li><a class="dropdown-item" href="../views/dogs/perros.html">Perros</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <!--Cuerpo de la página-->
        <div class="clima_actual" id="clima_div">
            <div class="row">
                <div class="col-1 col-md-6"></div>
                <div class="col-8 col-md-4 mx-0 px-0 parrafos_lineales">
                    <p id="clima" class="p_clima"></p>
                </div>
                <div class="col-3 col-md-1">
                    <img src="" class="icono_clima" id="icon">
                </div>
            </div>
            
        </div>
        <section class="container fondo-container">
            <!--Carousel de fotos-->
            <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!--Imagen logo-->
                    <div class="carousel-item active">
                        <a href="index.html">
                            <img src="../resource/img/logo.jpg" class="d-block w-100 imagen" alt="logo">
                        </a>
                    </div>
                    <!--Imagen de perro-->
                    <div class="carousel-item">
                        <a href="dogs/perros.html">
                            <img src="../resource/img/1perros.png" class="d-block w-100 imagen" alt="perros">
                        </a>
                    </div>
                    <!--Imagen de gato-->
                    <div class="carousel-item">
                        <a href="cats/gatos.html">
                            <img src="../resource/img/2gatos.jpg" class="d-block w-100 imagen" alt="gatos">
                        </a>
                    </div>
                </div>
                <button class="carousel-control-prev control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--Descripción de la sección-->
            <div class="descripcion">
                <p class="font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </section>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>
        </footer>
    </body>
</html>