<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cachulo - Perros</title>

        <!--Importar bootstrap-->
        <link rel="stylesheet" href="../../resource/bootstrap-5.0.0/css/bootstrap.min.css">
        <script src="../../resource/bootstrap-5.0.0/js/bootstrap.min.js"></script>

        <!--Hoja de estilos propia-->
        <link rel="stylesheet" href="../../resource/style/styles.css">

    </head>
    <body class="bg-fondo">
        <!--Barra navegadora-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand titulo" href="../index.html">AYUDA A UN PELUDO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mascotas
                            </a>
                            <ul class="dropdown-menu navbar-dark bg-nav2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../cats/gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="perros.html">Perros</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <!--Cuerpo de la página-->
        <section class="container fondo-container">
            <!--Cabecera titulo principal de la vista-->
            <h1 class="h1"> CACHULO </h1>
            <!--Cuerpo del documento-->
            <section class="fondo-container">
                <!--Botones para volver a las otras vistas-->
                <a href="perros.html" class="enlace">Volver a Perros /</a>
                <a href="../nosotros.html" class="enlace">Inicio</a>
            
                <!--Descripción del perro-->
                <div class="descripcion">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <img src="../../resource/img/cachulo.jpeg" alt="Perro cachulo" title="Fotografía perro Cachulo" class="mascota">
                        </div>
                        <div class="col-12 col-lg-4">
                            <ul class="font detalles">
                                <li>Nombre: Cachulo</li> <hr>
                                <li>Edad : 4 años</li> <hr>
                                <li>Género : Macho</li> <hr>
                                <li>Esterilizado: Sí</li> <hr>
                                <li>N° chip : 3333333333</li> <hr>
                            </ul>
                        </div>
                    </div>
                </div> 
            </section>
        </section>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>
        </footer>
    </body>
</html>