<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Cachulo</title>

        <!--Importar hoja de estilos-->
        <link rel="stylesheet" href="../../resource/style/estilos.css">

    </head>
    <body class="fondo-body">
        <!--Cabecera titulo principal de la vista-->
        <header>
            <h1> CACHULO </h1>
        </header>

        <!--Cuerpo del documento-->
        <section class="fondo-container">
            
            <!--Botones para volver a las otras vistas-->
            <div class="nav">
                <!--Volver a perros-->
                <a href="perros.html" class="enlace">Volver a Perros</a>
                <!--Volver al inicio-->
                <a href="../main.html" class="enlace">Inicio</a>
            </div>
            
            <!--Descripción del perro-->
            <div class="descripcion">
                <img src="../../resource/img/cachulo.jpeg" alt="Perro cachulo" title="Fotografía perro Cachulo" class="mascota">
                <ul class="font detalles">
                    <li>Nombre: Cachulo</li>
                    <li>Edad : 4 años</li>
                    <li>Género : Macho</li>
                    <li>Esterilizado: Sí</li>
                    <li>N° chip : 3333333333</li>
                </ul>
            </div>            
        </section>
    </body>
    <!--Pie de página con los integrantes del equipo-->
    <footer>
        <p> 
            <ul class="integrantes">
                <li> <i>  María Belén &COPY; </i> </li>
                <li> <i>  María Fernanda &COPY; </i> </li>
            </ul>
        </p>
    </footer>
</html>