<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Perros - Adopción</title>

        <!--Importar bootstrap-->
        <link rel="stylesheet" href="../../resource/bootstrap-5.0.0/css/bootstrap.min.css">
        <script src="../../resource/bootstrap-5.0.0/js/bootstrap.min.js"></script>

        <!--Hoja de estilos propia-->
        <link rel="stylesheet" href="../../resource/style/styles.css">

        <!--Importar jQuery-->
        <script src="../../resource/jQuery-3.6.0/jQuery-3.6.0.js"></script>

        <!--Importar hoja de js propia-->
        <script src="../../resource/js/geolocalizacion_clima.js"></script>

    </head>
    <body class="bg-fondo">
        <!--Barra navegadora-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand titulo" href="../index.html">AYUDA A UN PELUDO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mascotas
                            </a>
                            <ul class="dropdown-menu navbar-dark bg-nav2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../cats/gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="perros.html">Perros</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
         <!--Mostrar detalles del clima-->
        <div class="clima_actual" id="clima_div">
            <div class="row">
                <div class="col-1 col-md-6"></div>
                <div class="col-8 col-md-4 mx-0 px-0 parrafos_lineales">
                    <p id="clima" class="p_clima"></p>
                </div>
                <div class="col-3 col-md-1">
                    <img src="../../resource/icons/default.jpg" class="icono_clima" id="icon_p">
                </div>
            </div>
        </div>
        <!--Mensaje error en caso de no acceso a geolocalización-->
        <div class="error_clima" id="error_clima_div">
            <div class="row">
                <div class="col-1 col-md-6"></div>
                <div class="col-8 col-md-4 mx-0 px-0 parrafos_lineales">
                    <p id="mensaje_error_clima" class="p_error_clima"></p>
                </div>
                <div class="col-3 col-md-1">
                    <img src="../../resource/icons/gps.png" class="icono_clima">
                </div>
            </div>
        </div>
        <!--Cuerpo de la página-->
        <section class="container fondo-container">
            <!--Cabecera titulo principal de la vista-->
            <h1 class="h1"> PERROS EN ADOPCIÓN</h1>
            <!--Descripción de la sección-->
            <div class="descripcion">
                <div class="row">
                    <div class="col-6 col-md-9"></div>
                    <div class="col-6 col-md-3">
                        <h2>Ten en cuenta!</h2>
                    </div>
                </div>
                <img src="../../resource/img/perro-intro.jpg" alt="perro" class="img-intro">
                <p class="font">
                    <b>Cachorros</b><br>
                    Como son bebés van a comer varias veces al día, orinar todos los rincones
                    que encuentren, llorar mucho cuando estén solos, morder objetos de la casa 
                    y pedir mucha atención. Por esta razón es muy importante tener claro que debes
                    tener tiempo, mucha paciencia, disciplina y dedicación para que puedas educarlo
                    de una manera correcta. <br>
                    
                    <b>Adultos</b><br>
                    La gran mayoría siguen siendo muy juguetones aunque tengan sobre un año y no 
                    demandan toda  tu atención 24 horas,  ya son más tranquilos y calmados que un 
                    cachorro, y aprenden rápido.  Además, sabrás perfectamente su estatura, tamaño
                    definitivo y carácter. <br>
                    
                    <b>Abuelos</b><br>
                    Son perros maduros y no requieren de tanto trabajo porque no necesitan de paseo 
                    largos y ejercitarse tanto como un cachorro o adulto. Son más calmados, dormilones
                     y sedentarios  por esta razón nos proporcionan más tiempo libre. Y son muchísimo 
                      más agradecidos  que un cachorro porque conocen el abandono y maltrato.</p>
            </div>
            <!--Listado de gatos buscan familia-->
            <div>
                <h2 class="h2 mb-5">Nuestros perros  que buscan familia:</h2>
                <div class="row">
                    <div class="col-lg-2"> </div>
                    <div class="col-12 col-lg-3 text-center">
                        <a href="cachulo.html" class="font">
                            <img src="../../resource/img/cachulo.jpeg" alt="Adopción de Perro Cachulo" title="Adopción de Cachulo" class="fotos-url">
                        </a>
                        <p class="ps-4">Cachulo</p>
                    </div>
                    <div class="col-12 col-lg-3 text-center">
                        <a href="ninna.html" class="font">
                            <img src="../../resource/img/niña.jpg" alt="Adopción de Perro Niña" title="Adopción de Niña" class="fotos-url">
                        </a>
                        <p class="ps-4">Niña</p>
                    </div>
                    <div class="col-12 col-lg-3 text-center">
                        <a href="flaca.html" class="font">
                            <img src="../../resource/img/flaca.jpg" alt="Adopción de Perro Flaca" title="Adopción de Flaca" class="fotos-url">
                        </a>
                        <p class="ps-4">Flaca</p>
                    </div>
                </div>
            </div>
        </section>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>
        </footer>
    </body>
</html>