<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gatos - Adopción</title>

        <!--Importar bootstrap-->
        <link rel="stylesheet" href="../../resource/bootstrap-5.0.0/css/bootstrap.min.css">
        <script src="../../resource/bootstrap-5.0.0/js/bootstrap.min.js"></script>

        <!--Hoja de estilos propia-->
        <link rel="stylesheet" href="../../resource/style/styles.css">

    </head>
    <body class="bg-fondo">
        <!--Barra navegadora-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand titulo" href="../index.html">AYUDA A UN PELUDO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mascotas
                            </a>
                            <ul class="dropdown-menu navbar-dark bg-nav2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="../dogs/perros.html">Perros</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <!--Cuerpo de la página-->
        <section class="container fondo-container">
            <!--Cabecera titulo principal de la vista-->
            <h1 class="h1"> GATOS EN ADOPCIÓN</h1>
            <!--Descripción de la sección-->
            <div class="descripcion">
                <div class="row">
                    <div class="col-6 col-md-9"></div>
                    <div class="col-6 col-md-3">
                        <h2>Ten en cuenta!</h2>
                    </div>
                </div>
                <img src="../../resource/img/gato-intro.png" alt="gato" class="img-intro">
                <p class="font"><b>Son limpios, autónomos y necesitan poco espacio para ser y hacerte feliz.</b> <br>
                    Recursos suficientes en el hogar, respeto a su sentido del olfato, proporcionarle zonas
                    seguras en casa, jugar con ellos e interactuar de forma respetuosa son los aspectos 
                    fundamentales para garantizar una buena salud mental y ambiental a nuestro felino. <br>
                    Las personas que conviven con gatos se muestran más relajadas lo que ayuda a mantener 
                    una buena presión arterial, reduciendo el riesgo de ciertas enfermedades 
                    cardiovasculares. <br>
                    Convivir con un gato supone enormes beneficios para ti, pero debes ofrecer esos mismos 
                    beneficios a tu compañero felino. Para ello es importante informarse y buscar 
                    asesoramiento sobre los cuidados básicos, las necesidades etológicas y nutricionales
                    de los gatos antes de decidir adoptar uno. De esta forma, tanto tu gato como tu 
                    estarán sanos y felices, y podrán disfrutar de una convivencia de calidad, basada
                    en el respeto y el cariño. <br>
                </p>
            </div>
            <!--Listado de gatos buscan familia-->
            <div>
                <h2 class="h2">Nuestros gatos  que buscan familia:</h2>
                <div class="row">
                    <div class="col-1 col-lg-2"> </div>
                    <div class="col-11 col-lg-9">
                        <a href="ginger.html" class="font">
                            <img src="../../resource/img/ginger.jpeg" alt="Adopción de gato ginger" title="Adopción de ginger" class="fotos-url">
                            Ginger
                        </a>
                        <a href="lucifer.html" class="font">
                            <img src="../../resource/img/lucifer.jpg" alt="Adopción de gato lucifer" title="Adopción de lucifer" class="fotos-url">
                            Lucifer
                        </a>
                        <a href="tommy.html" class="font">
                            <img src="../../resource/img/tommy.jpg" alt="Adopción de gato tommy" title="Adopción de tommy" class="fotos-url">
                            Tommy
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>
        </footer>
    </body>
</html>