<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Gatos en adopción</title>

        <!--Importar hoja de estilos-->
        <link rel="stylesheet" href="../../resource/style/estilos.css">
        <link rel="stylesheet" href="../../resource/style/style.css">

    </head>
    <body class="contenedor">
        <!--Barra navegadora-->
        <section>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio </a></li>
                    <li><a href="../nosotros.html">Nosotros </a></li>
                    <li><a href="../dogs/perros.html">Perros</a></li>
                    <li><a href="gatos.html">Gatos </a></li>
                    <li><a href="../contacto.html">Contactos</a></li>
                </ul>
            </nav>
        </section>

        <!--Cuerpo página-->
        <section class="fondo-body">
            <!--Cabecera titulo principal de la vista-->
            <div class="header">
                <h1 class="h1"> GATOS EN ADOPCIÓN</h1>
            </div>

            <!--Cuerpo del documento-->
            <section class="fondo-container">
                <!--Botones para volver a las otras vistas-->
                <div class="nav">
                    <a href="../index.html" class="enlace">Inicio</a>
                </div>
            
                <!--Descripción de la sección-->
                <div class="descripcion">
                    <p class="font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            
                <!--Listado de gatos buscan familia-->
                <div>
                    <h2 class="h2">Nuestros gatos  que buscan familia:</h2>
                    <ul>
                        <li>
                            <a href="ginger.html" class="font">
                                <img src="../../resource/img/ginger.jpeg" alt="Adopción de gato ginger" title="Adopción de ginger" class="fotos-url">
                                Ginger
                            </a>
                        </li>
                        <li>
                            <a href="tommy.html" class="font">
                                <img src="../../resource/img/tommy.jpg" alt="Adopción de gato tommy" title="Adopción de tommy" class="fotos-url">
                                Tommy
                            </a>
                        </li>
                        <li>
                            <a href="lucifer.html" class="font">
                                <img src="../../resource/img/lucifer.jpg" alt="Adopción de gato lucifer" title="Adopción de lucifer" class="fotos-url">
                                Lucifer
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>
        </footer>
    </body>
</html>
