<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Lucifer</title>

        <!--Importar hoja de estilos-->
        <link rel="stylesheet" href="../../resource/style/estilos.css">
        <link rel="stylesheet" href="../../resource/style/style.css">

    </head>
    <body class="contenedor">
        <!--Barra navegadora-->
        <section>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio </a></li>
                    <li><a href="../nosotros.html">Nosotros </a></li>
                    <li><a href="../dogs/perros.html">Perros</a></li>
                    <li><a href="gatos.html">Gatos </a></li>
                    <li><a href="../contacto.html">Contactos</a></li>
                </ul>
            </nav>
        </section>

        <!--Cuerpo página-->
        <section class="fondo-body">
            <!--Cabecera titulo principal de la vista-->
            <div class="header">
                <h1 class="h1"> LUCIFER </h1>
            </div>

            <!--Cuerpo del documento-->
            <section class="fondo-container">
                <!--Botones para volver a las otras vistas-->
                <a href="gatos.html" class="enlace">Volver a Gatos</a>
                <a href="../nosotros.html" class="enlace">Inicio</a>
            
                <!--Descripción del gato-->
                <div class="descripcion">
                    <img src="../../resource/img/lucifer.jpg" alt="Adopción de gato Lucifer" title="Adopción de Lucifer" class="mascota">
                    <ul class="font detalles">
                        <li>Nombre: Lucifer</li>
                        <li>Edad : 6 meses</li>
                        <li>Género : Macho</li>
                        <li>Esterilizado: No</li>
                        <li>N° chip : 55486534</li>
                    </ul>
                </div>  
            </section>
        </section>
        <!--Pie de página con los integrantes del equipo-->
        <footer>
            <p> 
                <ul class="integrantes">
                    <li> <i>  María Belén &COPY; </i> </li>
                    <li> <i>  María Fernanda &COPY; </i> </li>
                </ul>
            </p>
        </footer>
    </body>
</html>
